<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0" id="cordova.parse.facebook.login" version="1.0.0">
  <engines>
    <engine name="cordova" version=">=3.0.0" />
  </engines>
  <name>iOSFaceBookLogin</name>
  <description>Plugin for iOS to retrieve the FaceBookLogin.</description>
  <author>Nick Barth</author>
  <keywords>iOS FaceBookLogin</keywords>
  <license>CC0</license>

  <!-- JavaScript interface -->
  <js-module src="www/iOSFaceBookLogin.js" name="iOSFaceBookLogin" target="www/iOSFaceBookLogin.js">
    <clobbers target="window.iOSFaceBookLogin" />
  </js-module>

  <!-- ios -->
  <platform name="ios">
    <config-file target="config.xml" parent="plugins">
      <feature name="iOSFaceBookLogin">
        <param name="ios-package" value="iOSFaceBookLogin"/>
        <param name="onload" value="true" />
      </feature>
      <plugin name="iOSFaceBookLogin" value="iOSFaceBookLogin"/>
    </config-file>
    <header-file src="src/ios/iOSFaceBookLogin.h" />
    <source-file src="src/ios/iOSFaceBookLogin.m" />

    <!-- System frameworks -->
    <framework src="Accounts.framework" />
    <framework src="AudioToolbox.framework" />
    <framework src="CFNetwork.framework" />
    <framework src="CoreGraphics.framework" />
    <framework src="CoreLocation.framework" />
    <framework src="Foundation.framework" />
    <framework src="MobileCoreServices.framework" />
    <framework src="QuartzCore.framework" />
    <framework src="Security.framework" />
    <framework src="Social.framework" />
    <framework src="StoreKit.framework" />
    <framework src="SystemConfiguration.framework" />
    <framework src="libz.dylib" />
  </platform>
</plugin>
